﻿#myimg {
    cursor: pointer;
    transition: 0.3s;
}

#myimg:hover {
    opacity: 0.7;
}

body {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
}

/*  apenas estilo do logo   */

.logo > a > img {
    padding-top: 20px;
}

.logo {
    width: 20%;
}

/*  apenas estilos do menu  */

.barra_lateral {
    height: 500px;
    width: 200px;
    position: fixed;
    z-index: 99999;
    overflow: visible;
    margin-left: 98%;
    margin-top: 10%;

}

.imagem_barra {
    width: 53%;
}

.mobile {
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
}

#menu {
    z-index: 99999;
    overflow: visible;
    height: 100px;
}

.menu > ul > li {
    font-family: 'Russo One', sans-serif;
    padding-top: 22px;
    font-size: 15px;
}

.menu-li {
    border-right: 1px solid #e2e2e2;
    height: 99px;
    padding: 0 42px 0 42px;
}

.menu-li-institucional {
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    height: 99px;
    padding: 0 42px 0 42px;
}

.bandeira {
    width: 35px;
    height: 20px;
}

.lupa {
    width: 20px;
    height: 17px;
}

#barra-busca {
    height: 50px;
    display: none;
    margin-top: 50px;
    margin-bottom: -50px;
    margin-left: 10%;
}

/*  apenas estilos do carousel  */

.texto-imagem {
    position: absolute;
    width: 50%;
    height: 30%;

}

.texto-imagem > h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 5em;
}

.imagem-telefone {
    width: 30px;
    height: 30px;
}

.div-telefone {
    position: absolute;
    text-align: right;
    width: 50%;
    height: 30%;
    margin-top: -8%;
    margin-left: 80%;
}

.telefone {
    font-family: "Russo One", sans-serif;
    font-size: 21px;
    color: whitesmoke;
}

.carousel {
    min-height: 600px;
    max-height: 800px;

}

.carousel .item {
    min-height: 700px;
    max-height: 800px;
}

.carousel-inner > .item > img {
    height: 100%;
    width: 100%;
}

/* apenas estilos banner produtos */

.imagem-categorias {
    padding-left: 100px;
}

.banner-produtos {
    background-color: #ffffff;
    margin-top: -60px;

    padding-left: 180px;

}




/*Responsividade acima de 1920*/












#espaco_titulo{
    display: none;
}

@media screen and (min-width: 1922px) {

#segura_imagens2{
    width: 120%;
}

    .injecao3 {
        width: 30%;
        margin-top: -60px;
        margin-left: 280px;
    }


    .injecao1 {
        margin-top: -40px;
        width: 120%;

    }

    .injecao2 {
        margin-left: 30px;
        width: 80%;

    }





    #espaco_titulo{
        display: table;
        margin-top: 120px;
    }
    .imagens-inst {
        width: 20%;
        margin-left: 80%;
    }
    .banner-produtos {

    }
    .imagens_categorias1 {
        width: 25.5%;
        height: 27.5%;
        margin-right: -135px;

    }

    .imagens_categorias11 {
        width: 25.5%;
        height: 27.5%;
        margin-left: 150px;

    }

    .imagens_categorias111 {
        width: 25.5%;
        height: 27.5%;
        margin-left: 20px;

    }
}


@media screen and (max-width: 2350px) and (min-width: 2200px) {
    .injecao3 {
        width: 25%;
        margin-top: -60px;
        margin-left: 230px;
    }


    .injecao1 {
        margin-top: -40px;
        width: 110%;

    }

    .injecao2 {
        margin-left: 30px;
        width: 70%;

    }

}

@media screen and (max-width: 2200px) and (min-width: 2100px)  {
    .injecao3 {
        width: 23%;
        margin-top: -60px;
        margin-left: 200px;
    }


    .injecao1 {
        margin-top: -40px;
        width: 100%;

    }

    .injecao2 {
        margin-left: 30px;
        width: 65%;

    }

}


@media screen and (max-width: 2100px) and (min-width: 1922px){
    .injecao3 {
        width: 20%;
        margin-top: -50px;
        margin-left: 170px;
    }


    .injecao1 {
        margin-top: -40px;
        width: 85%;

    }

    .injecao2 {
        margin-top: -30px;
        margin-left: -30px;
        width: 55%;

    }

}





@media screen and (min-width: 2470px) {
    .banner-produtos {


    }
}

@media screen and (min-width: 2300px) {
    .banner-produtos {


    }
}





/*Fim Responsividade acima de 1920*/























.h1-banner-produtos {
    padding-top: 15px;
    font-family: "Russo One", sans-serif;
    color: #A7005C;

}

.produto {
    height: 400px;
    background-color: #e2e2e2;
}

.div-produto {
    margin-left: 4%;
    margin-top: 1%;
    width: 20%;
    height: 90%;
    background-color: white;
    border-radius: 25px;
}

.detalhes-produto {
    height: 50px;
    width: 90%;
    margin-top: 12px;
    margin-left: 5%;
}

.foto-produto {
    height: 100px;
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
    margin-bottom: -10px;
}

.visualizar-produto {
    height: 50px;
    width: 50%;
    margin-top: 7px;
    margin-left: 25%;
}

.descricao-produto {
    font-family: "Russo One", sans-serif;
}

.modelo-veiculo {
    font-family: "Russo One", sans-serif;
    font-size: 20px;
}

.codigo-produto {
    font-family: "Russo One", sans-serif;
    font-size: 15px;
}

/*  apenas botao catalogo-xs    */

.catalogo-xs {
    margin-top: -55px;
    margin-bottom: 65px;
    height: 50px;
    text-align: center;
    background-size: cover;
    background-position: center center;
}

/*  apenas estilo do destaque */

.h1-destaques {
    border-top: 1px solid #A7005C;
    border-bottom: 1px solid #A7005C;
    padding-bottom: 20px;
}

.h4-destaques {
    color: #A7005C;
    font-family: "Russo One", sans-serif;

}

.imagens-destaque {
    width: 200px;
    height: auto;
    padding-top: 7%;
    padding-left: 10%;
}

/* apenas estilo do rodapé */

.rodape {
    background-color: #979797;
    width: 100%;
    height: auto;
    margin-top: 8%;
    margin-bottom: -60px;
}

.parte-logo {
    border-bottom: 1px solid #A7005C;
}

.logo-rodape {
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    height: auto;
}

.titulo-menu-rodape {
    font-family: "Russo One", sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 3%;
}

.titulo-menu-rodape > ul > li > a {
    font-size: 15px;
    color: #A7005C;
}

.parte-social {
    height: 20px;
    background-color: #A7005C;
    margin-top: 45px;
}

.diferencias-imagens-rodape {
    width: 80%;
    padding-top: 10px;
}

.logos-sociais {
    padding-top: 17px;
}

.logo-facebook {
    width: 12px;
    height: 25px;
}

.logo-instagram {
    width: 25px;
    height: 25px;
}

.logo-youtube {
    width: 25px;
    height: 20px;
}

.parte-final {
    height: auto;
    padding-bottom: 20px;
    background-color: #000;
}

.detalhes-rodape {
    font-family: "Russo One", sans-serif;
    font-size: 12px;
    color: white;

    padding-left: 2%;
    line-height: 15px;
    padding-top: 5px;
}

.logo-naville {
    padding-top: 10px;
    width: 150px;
}

/*  apenas liga    */

.cor-telefone {
    color: white;
}

.ligar_shekparts_2 {
    font-family: "Russo One", sans-serif;
    text-align: left;
    background-color: #A7005C;
    color: #fff;
    padding: 8px;
    font-size: 18px;
    line-height: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    overflow: visible;

}

/*  apanas @media query desktops    */

@media only screen and (max-width: 1921px) {


    .injecao3 {
        width: 30%;
        margin-top: -60px;
        margin-left: 200px;
    }

    .imagem-modal2 {
        width: 1000px;
    }

    .estilo-modal2 {
        margin-top: 10%;
        margin-left: -750px;
    }

    .imagem-modal1 {
        width: 800px;
    }

    .estilo-modal1 {
        margin-top: 5%;
        margin-left: -600px;
    }

    .injecao1 {
        width: 120%;

    }

    .injecao2 {
        margin-left: 30px;
        width: 80%;

    }



    .baixo-repre-2 {

        margin-top: 750px
    }

    .processo-espaco {
        padding-bottom: 1600px
    }

    .imagens-processo {
        width: 100%;
    }

    .p-processo {
        text-align: left;
    }

    .h1-processo-grande {

        text-align: left;
        margin-top: 20%;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 270px;
        padding-left: 158px;
    }

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
        margin-top: -350px;
    }

    .espaco-processo {
        margin-top: 200px;
    }

    .texto-processo {
        z-index: 200;
        margin-top: -200px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
    }

    .fonte-menu {
        font-size: 10px
    }

    .container-2 {
        margin-left: 15.8%;
        margin-right: 17.1%;
    }

    .banner-produtos {
        margin-left: 120px;
    }

    .espaco-cima-imagem {
        margin-top: 25px;
    }

    .espaco-baixo-imagem {
        margin-bottom: 25px;
    }

    .div-modal {
        margin-top: 15%;
    }

    .imagem-produto3 {
        width: 110px;
    }

    .imagem-produto2 {
        width: 160px;
    }

    .produto-baixo2 {
        margin-bottom: 9px;
    }

    .produto-baixo {
        margin-bottom: 4px;
    }

    .imagem-produto1 {
        width: 200px;
    }

    .espaco-form {
        margin-top: 0;
    }

    .input-form {

        width: 60%;
    }

    .baixo-repre {
        margin-top: 800px
    }

    .imagem-repre {
        height: 800px;
    }

    .espaco-cima {
        margin-top: 10%;
    }

    .espaco-baixo {
        margin-bottom: 950px;
    }

    .imagens-inst {
        width: 20%;
        margin-left: 80%;
    }

    .imagens_categorias1 {
        width: 25.5%;
        height: 27.5%;
        margin-right: -135px;

    }

    .imagens_categorias11 {
        width: 25.5%;
        height: 27.5%;
        margin-left: 150px;

    }

    .imagens_categorias111 {
        width: 25.5%;
        height: 27.5%;
        margin-left: 20px;

    }

    .imagens_categorias2 {
        width: 26%;
        height: 28%;

    }

    .imagens_categorias3 {
        width: 34%;
        height: 36%;
        margin-left: -125px;
    }

    .menu > ul > li {
        font-size: 15px;
    }

    .menu-li {
        padding: 0 40px 0 40px;
    }

}

.barra_lateral {
    height: 107px;
    width: 50px;
    float: right;
    position: fixed;
    z-index: 99999;
    overflow: visible;
    margin-left: 98%;
    margin-top: 10%;
}

.imagem_barra {
    width: 77%;
}

.diferencias-imagens-rodape {
    width: 68%;
    padding-top: 10px;
    padding-left: 0;
}

.carousel-inner > .item > img {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1880px) {

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 250px;
        padding-left: 150px;
    }

    .container-2 {
        margin-left: 16.1%;
        margin-right: 15.9%;
    }

    .imagens_categorias1 {
        width: 26.5%;
        height: 27.5%;
        margin-right: -140px;

    }

    .imagens_categorias11 {
        width: 26.5%;
        height: 27.5%;

    }

    .imagens_categorias111 {
        width: 26.5%;
        height: 27.5%;
        margin-left: 10px;

    }

    .imagens_categorias2 {
        width: 36%;
        height: 37%;
    }

    .imagens_categorias3 {
        width: 35%;
        height: 36%;
        margin-left: -135px;
    }

}

@media only screen and (max-width: 1850px) {


    .barra_lateral {
        height: 90px;
        width: 50px;
        float: right;
        position: fixed;
        z-index: 99999;
        overflow: visible;
        margin-left: 97%;
        margin-top: 10%;
    }

    .imagem_barra {
        width: 80%;
    }

}

.menu > ul > li {
    font-size: 15px;
}

.menu-li {
    padding: 0 38px 0 38px;
}

@media only screen and (max-width: 1820px) {



    }

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 240px;
        padding-left: 150px;
    }

    .imagens_categorias3 {
        width: 35%;
        height: 36%;
        margin-left: -137px;
    }

    .barra_lateral {
        height: 90px;
        width: 50px;
        float: right;
        position: fixed;
        z-index: 99999;
        overflow: visible;
        margin-left: 98%;
        margin-top: 10%;

    }

    .container-2 {
        margin-left: 16.7%;
        margin-right: 16.5%;
    }

    .imagem-repre {
        height: 780px;
    }

    .baixo-repre {

        margin-top: 780px
    }


@media only screen and (max-width: 1800px) {

    .imagens_categorias1 {
        width: 28%;
        height: 28%;
        margin-right: -150px;

    }

    .imagens_categorias11 {
        width: 28%;
        height: 28%;
        margin-right: 150px;

    }

    .imagens_categorias2 {
        width: 37%;
        height: 37%;
    }

    .imagens_categorias3 {
        width: 36%;
        height: 36%;
        margin-left: -150px;
    }

    .menu > ul > li {
        font-size: 15px;
    }

    .menu-li {
        padding: 0 29px 0 29px;
    }

    .texto-imagem {
        margin-top: -55%;
        margin-left: 79%;
        padding-top: 80px;
    }

    .texto-imagem > h1 {
        font-size: 55px;
    }

    .imagem-telefone {
        width: 28px;
        height: 28px;
    }

    .div-telefone {
        margin-top: -11%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 20px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 500px;
        max-height: 700px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 500px;
        max-height: 700px;
    }

    .carousel-inner > .item > img {
        min-height: 500px;
        max-height: 700px;
    }
}

@media only screen and (max-width: 1780px) {

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 220px;
        padding-left: 150px;
    }

    .texto-processo {
        z-index: 200;
        margin-top: -200px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
    }

    .container-2 {
        margin-left: 13.6%;
        margin-right: 14.6%;
    }

    .banner-produtos {
        margin-left: 60px;
    }

    .imagens_categorias1 {
        width: 27%;
        height: 27%;
        margin-right: -140px;

    }

    .imagens_categorias11 {
        width: 27%;
        height: 27%;
        margin-right: -100px;

    }

    .imagens_categorias111 {
        width: 27%;
        height: 27%;
        margin-left: 110px;

    }

    .imagens_categorias2 {
        width: 37%;
        height: 37%;
    }

    .imagens_categorias3 {
        width: 36%;
        height: 36%;
        margin-left: -140px;
    }
}

@media only screen and (max-width: 1720px) {
    .injecao3 {
        margin-left: 180px;
    }

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }
    
    .imagens_categorias1 {
        width: 27%;
        height: 27%;
        margin-right: -140px;

    }

    .imagens_categorias11 {
        width: 27%;
        height: 27%;
        margin-right: -100px;

    }

    .imagens_categorias111 {
        width: 27%;
        height: 27%;
        margin-left: 110px;

    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 200px;
        padding-left: 140px;
    }

    .imagens_categorias3 {
        width: 36%;
        height: 36%;
        margin-left: -139px;
    }

    .container-2 {
        margin-left: 14.1%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 1680px) {

    .injecao2 {
        margin-left: 20px;
    }
    .injecao3{
        margin-top: -45px;
    }
    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .imagens_categorias1 {
        width: 27%;
        height: 27%;
        margin-right: -140px;

    }

    .imagens_categorias11 {
        width: 27%;
        height: 27%;
        margin-right: -100px;

    }

    .imagens_categorias111 {
        width: 27%;
        height: 27%;
        margin-left: 110px;

    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 180px;
        padding-left: 140px;
    }

    .barra_lateral {
        height: 90px;
        width: 50px;
        float: right;
        position: fixed;
        z-index: 99999;
        overflow: visible;
        margin-left: 97.7%;
        margin-top: 10%;
    }

    .container-2 {
        margin-left: 13.3%;
        margin-right: 15.4%;
    }

    .banner-produtos {
        margin-left: 40px;
    }

}

.menu > ul > li {
    font-size: 15px;
}

.diferencias-imagens-rodape {
    width: 80%;
    padding-top: 10px;
    padding-left: 20px;
}

.menu-li {
    padding: 0 27px 0 26px;
}

.texto-imagem {
    margin-top: -30%;
    margin-left: 79%;
}

.texto-imagem > h1 {
    font-size: 58px;
}

.imagem-telefone {
    width: 28px;
    height: 28px;
}

.div-telefone {
    margin-top: -12%;
    margin-left: 87%;
    width: 42%;
}

.telefone {
    font-family: "Russo One", sans-serif;
    font-size: 20px;
    color: whitesmoke;
}

.carousel {
    min-height: 650px;
    max-height: 800px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    min-height: 650px;
    max-height: 800px;
}

.carousel-inner > .item > img {
    min-height: 650px;
    max-height: 800px;
}

@media only screen and (max-width: 1620px) {
    .injecao3 {
        margin-left: 160px;
        margin-top: -50px;
    }
    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 160px;
        padding-left: 130px;
    }

    .texto-processo {
        z-index: 200;
        margin-top: -190px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 17px;
    }

    .container-2 {
        margin-left: 13.8%;
        margin-right: 15.9%;
    }

    .imagem-repre {
        height: 730px;
    }

    .baixo-repre {

        margin-top: 730px
    }

}

@media only screen and (max-width: 1600px) {


    .processo-espaco {
        padding-bottom: 1500px
    }

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 100px;
        padding-left: 130px;
    }

    .texto-processo {
        z-index: 200;
        margin-top: -180px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
    }

    .baixo-repre {

        margin-top: 700px
    }

    .imagem-repre {
        height: 700px;
    }

    .imagens_categorias1 {
        width: 27%;
        height: 28%;
        margin-right: -120px;

    }

    .imagens_categorias11 {
        width: 27%;
        height: 28%;;

    }

    .imagens_categorias2 {
        width: 36%;
        height: 37%;
    }

    .imagens_categorias3 {
        width: 35%;
        height: 36%;
        margin-left: -118px;
    }

    .container-2 {
        margin-left: 13.9%;
        margin-right: 16.2%;
    }

    .menu > ul > li {
        font-size: 15px;
    }

    .menu-li {
        padding: 0 24px 0 23px;
    }

    .texto-imagem > h1 {
        font-size: 58px;
    }

    .imagem-telefone {
        width: 28px;
        height: 28px;
    }

    .div-telefone {
        margin-top: -12%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 20px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 650px;
        max-height: 800px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 650px;
        max-height: 800px;
    }

    .carousel-inner > .item > img {
        min-height: 650px;
        max-height: 800px;
    }
}

@media only screen and (max-width: 1590px) {


    .imagens_categorias1 {
        width: 28%;
        height: 28%;
        margin-right: -80px;

    }

    .imagens_categorias2 {
        width: 37%;
        height: 37%;
        margin-left: -50px;
    }

    .imagens_categorias3 {
        width: 36%;
        height: 36%;
        margin-left: -130px;
    }

    .banner-produtos {
        margin-left: 10px;
    }

}

@media only screen and (max-width: 1580px) {


    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 140px;
        padding-left: 125px;
    }

    .container-2 {
        margin-left: 14.1%;
        margin-right: 13.8%;
    }

    .imagens_categorias1 {
        width: 27%;
        height: 27%;
        margin-right: -80px;


    }

    .imagens_categorias11 {
        width: 27%;
        height: 27%;
        margin-left: 100px;

    }

    .imagens_categorias111 {
        width: 27%;
        height: 27%;
        margin-left: 115px;

    }

    .imagens_categorias2 {
        width: 37%;
        height: 37%;
        margin-left: -40px;
    }

    .imagens_categorias3 {
        width: 36%;
        height: 36%;
        margin-left: -117px;
    }

    .banner-produtos {
        margin-left: 40px;
    }

}

@media only screen and (max-width: 1550px) {

    .imagens_categorias1 {
        width: 30%;
        height: 28%;
        margin-right: -80px;

    }

    .imagens_categorias2 {
        width: 39%;
        height: 37%;
        margin-left: -50px;
    }

    .imagens_categorias3 {
        width: 38%;
        height: 36%;
        margin-left: -130px;
    }

    .menu > ul > li {
        font-size: 15px;
    }

    .menu-li {
        padding: 0 20px 0 19px;
    }

    .menu-li-institucional {
        padding: 0 20px 0 19px;
    }

    .texto-imagem {
        margin-top: -80%;
        margin-left: 79%;
    }

    .texto-imagem > h1 {
        font-size: 58px;
    }

    .imagem-telefone {
        width: 28px;
        height: 28px;
    }

    .div-telefone {
        margin-top: -12%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 20px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 650px;
        max-height: 800px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 650px;
        max-height: 800px;
    }

    .carousel-inner > .item > img {
        min-height: 650px;
        max-height: 800px;
    }
}

@media only screen and (max-width: 1520px) {

    .injecao3 {
        margin-left: 150px;
    }
    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 120px;
        padding-left: 125px;
    }

    .barra_lateral {
        height: 90px;
        width: 50px;
        float: right;
        position: fixed;
        z-index: 99999;
        overflow: visible;
        margin-left: 97.5%;
        margin-top: 10%;
    }

    .container-2 {
        margin-left: 14.7%;
        margin-right: 13%;
    }

    .imagens_categorias1 {
        width: 30%;
        height: 28%;
        margin-right: -80px;

    }

    .imagens_categorias1 {
        width: 27%;
        height: 27%;
        margin-right: -80px;

    }

    .imagens_categorias11 {
        width: 27%;
        height: 27%;
        margin-left: 100px;

    }

    .imagens_categorias111 {
        width: 27%;
        height: 27%;
        margin-left: 115px;

    }

    .banner-produtos {
        margin-left: 40px;
    }

}

@media only screen and (max-width: 1480px) {

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 100px;
        padding-left: 125px;
    }

    .texto-processo {
        z-index: 200;
        margin-top: -160px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
    }

    .container-2 {
        margin-left: 15%;
        margin-right: 10.8%;
    }

    .imagens_categorias1 {
        width: 28%;
        height: 27%;
        margin-right: -80px;

    }

    .imagens_categorias11 {
        width: 28%;
        height: 27%;
        margin-left: 100px;

    }

    .imagens_categorias111 {
        width: 28%;
        height: 27%;
        margin-left: 115px;

    }

    .imagens_categorias2 {
        width: 38%;
        height: 37%;
        margin-left: -30px;
    }

    .imagens_categorias3 {
        width: 37%;
        height: 36%;
        margin-left: -105px;
    }

    .banner-produtos {
        margin-left: 40px;
    }

}

@media only screen and (max-width: 1475px) {

    .menu > ul > li {
        font-size: 15px;
    }

    .menu-li {
        padding: 0 15px 0 13px;
    }

    .texto-imagem {
        margin-top: -61%;
        margin-left: 79%;
    }

    .texto-imagem > h1 {
        font-size: 58px;
    }

    .imagem-telefone {
        width: 28px;
        height: 28px;
    }

    .div-telefone {
        margin-top: -13%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 20px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 600px;
        max-height: 800px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 600px;
        max-height: 800px;
    }

    .carousel-inner > .item > img {
        min-height: 600px;
        max-height: 800px;
    }
}

@media only screen and (max-width: 1440px) {

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 80px;
        padding-left: 125px;
    }

    .container-2 {
        margin-left: 15%;
        margin-right: 11.1%;
    }
}

@media only screen and (max-width: 1420px) {

   .injecao1{
       width: 130%;
   }
   .injecao2{
       width: 100%;
       margin-left:20px;
   }
    .injecao3 {
        margin-left: 140px;
        margin-top: -30px;
        width: 33%;
    }

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -46%;
        margin-left: 40%;
        padding-top: 80px;
        padding-left: 125px;
    }

    .barra_lateral {
        height: 90px;
        width: 50px;
        float: right;
        position: fixed;
        z-index: 99999;
        overflow: visible;
        margin-left: 97.2%;
        margin-top: 10%;
    }

    .imagem-repre {
        height: 660px;
    }

    .baixo-repre {

        margin-top: 660px
    }

    .container-2 {
        margin-left: 12.2%;
        margin-right: 11.3%;
    }

    .imagens_categorias1 {
        width: 28%;
        height: 27%;
        margin-right: -80px;

    }

    .imagens_categorias11 {
        width: 28%;
        height: 27%;
        margin-left: 100px;

    }

    .imagens_categorias111 {
        width: 28%;
        height: 27%;
        margin-left: 115px;

    }

    .banner-produtos {
        margin-left: -10px;
    }

}

@media only screen and (max-width: 1400px) {

	    .produto-baixo {
        margin-bottom: 12px;
    }

    .imagem-produto1 {
        width: 160px;
    }

    .imagens_categorias1 {
        width: 28%;
        height: 28%;
        margin-right: -100px;

    }

    .imagens_categorias2 {
        width: 37%;
        height: 37%;
    }

    .imagens_categorias3 {
        width: 36%;
        height: 36%;
        margin-left: -100px;
    }

}

.menu > ul > li {
    font-size: 15px;
}

.menu-li {
    padding: 0 11px 0 10px;
}

.menu-li-institucional {
    padding: 0 11px 0 10px;
}

.texto-imagem {
    margin-top: -60%;
    margin-left: 70%;
}

.texto-imagem > h1 {
    font-size: 58px;
}

.imagem-telefone {
    width: 28px;
    height: 28px;
}

.div-telefone {
    margin-top: -14%;
    margin-left: 87%;
    width: 42%;
}

.telefone {
    font-family: "Russo One", sans-serif;
    font-size: 20px;
    color: whitesmoke;
}

.carousel {
    min-height: 550px;
    max-height: 800px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    min-height: 550px;
    max-height: 800px;
}

.carousel-inner > .item > img {
    min-height: 550px;
    max-height: 800px;
}

@media only screen and (max-width: 1380px) {

    .logo-naville {

    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -70%;
        margin-left: 68%;
        padding-top: 150px;
        padding-left: 125px;

    }

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .container-2 {
        margin-left: 9.6%;
        margin-right: 8.9%;
    }

    .imagens_categorias1 {
        width: 29%;
        height: 27%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 29%;
        height: 27%;
        margin-left: 90px;

    }

    .imagens_categorias111 {
        width: 29%;
        height: 27%;
        margin-left: 120px;

    }

    .imagens_categorias2 {
        width: 39%;
        height: 37%;
        margin-left: -40px;
    }

    .imagens_categorias3 {
        width: 38%;
        height: 36%;
        margin-left: -105px;
    }

    .banner-produtos {
        margin-left: -50px;
    }
    #segura_imagens2{
        width: 140%;
        margin-top: -30px;
        margin-left: -100px;
    }
}

@media only screen and (max-width: 1366px) {

    #p-processo-2{
        margin-left: 15px;
}
    .divdiv1366 {
        margin-left: 4.5%;
    }

    #segura_imagens{
        margin-left: -10px;
    }



    .injecao1{
        width: 150%;
    }
    .injecao2{
        width: 110%;
        margin-left:40px;
    }
    .injecao3 {
        margin-left: 150px;
        margin-top: -40px;
        width: 38%;
    }



    .processo-espaco {
        padding-bottom: 1600px
    }

    .imagens-processo {
        width: 160%;
    }


    .p-processo {
        text-align: left;
    }

    .h1-processo-grande {
        text-align: left;
        margin-top: 30%;
    }

    .baixo-repre {

        margin-top: 600px
    }

    .baixo-repre-2 {

        margin-top: 680px
    }


    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -70%;
        margin-left: 68%;
        padding-top: 150px;
        padding-left: 125px;

    }

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 84%;
    }

    .texto-processo {
        z-index: 200;
        margin-top: -155px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 13px;
    }

}


@media only screen and (max-width: 1320px) {

    #segura_imagens{
        margin-left: -50px;
    }



    .divdiv1366 {
        margin-left: 0.1%;
    }

    .divimg1366 {
        margin-left: -0.1%;
    }

    .processo-espaco {
        padding-bottom: 1300px
    }

    .imagens-processo {
        width: 100%;
    }

    .div1366 {
        margin-left: 0;
    }

    .p-processo {
        text-align: left;
    }

    .h1-processo-grande {

        text-align: left;
        margin-top: 20%;
    }

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 75%;
        padding-top: 100px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -450px;
        margin-left: 60%;
        padding-top: 80px;
        padding-left: 125px;
    }

    .texto-processo {
        z-index: 200;
        margin-top: -140px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
    }

    .barra_lateral {
        height: 90px;
        width: 50px;
        float: right;
        position: fixed;
        z-index: 99999;
        overflow: visible;
        margin-left: 97%;
        margin-top: 10%;
    }

    .container-2 {
        margin-left: 9.9%;
        margin-right: 9.3%;
    }

    .imagens_categorias1 {
        width: 29%;
        height: 27%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 29%;
        height: 27%;
        margin-left: 80px;

    }

    .imagens_categorias111 {
        width: 29%;
        height: 27%;
        margin-left: 110px;

    }

    .banner-produtos {
        margin-left: -50px;
    }

    .baixo-repre {

        margin-top: 680px
    }

}

@media only screen and (max-width: 1315px) {

    .menu > ul > li {
        font-size: 14px;
    }

    .menu-li {
        padding: 0 8px 0 2px;
    }

    .texto-imagem {
        margin-top: -57%;
        margin-left: 79%;
    }

    .texto-imagem > h1 {
        font-size: 52px;
    }

    .imagem-telefone {
        width: 28px;
        height: 28px;
    }

    .div-telefone {
        margin-top: -15%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 20px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 500px;
        max-height: 800px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 500px;
        max-height: 800px;
    }

    .carousel-inner > .item > img {
        min-height: 500px;
        max-height: 800px;
    }
}

@media only screen and (max-width: 1280px) {

    .injecao3 {
        width: 35%;
        margin-left: 140px;
    }
    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 75%;
        padding-top: 100px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -450px;
        margin-left: 60%;
        padding-top: 100px;
        padding-left: 115px;
    }

    .logo-naville {

    }


    .imagens_categorias3 {
        width: 38%;
        height: 36%;
        margin-left: -97px;
    }

    .container-2 {
        margin-left: 10.2%;
        margin-right: 9.6%;
    }

}

@media only screen and (max-width: 1220px) {



    .injecao3 {
        width: 40%;
        margin-top: -30px;
        margin-left: 130px;
    }

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 75%;
        padding-top: 100px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -450px;
        margin-left: 60%;
        padding-top: 100px;
        padding-left: 105px;
    }

    .texto-processo {
        z-index: 200;
        margin-top: -120px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 11px;
    }

    .container-2 {
        margin-left: 10.8%;
        margin-right: 8%;
    }

    .imagens_categorias1 {
        width: 29%;
        height: 27%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 29%;
        height: 27%;
        margin-left: 90px;

    }

    .imagens_categorias111 {
        width: 29%;
        height: 27%;
        margin-left: 120px;

    }

    .banner-produtos {
        margin-left: -50px;
    }

    .espaco-form {
        margin-top: 0
    }

    .imagem-repre {
        height: 620px;
    }

    .baixo-repre {

        margin-top: 680px
    }

    .menu > ul > li {
        font-size: 12.5px;
    }

    .menu-li {
        padding: 0 7px 0 7px;
    }

    .texto-imagem > h1 {
        font-size: 52px;
    }

    .imagem-telefone {
        width: 28px;
        height: 28px;
    }

    .div-telefone {
        margin-top: -15%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 20px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 500px;
        max-height: 800px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 500px;
        max-height: 800px;
    }

    .carousel-inner > .item > img {
        min-height: 500px;
        max-height: 800px;
    }
}

@media only screen and (max-width: 1200px) {

    .div-produto {
        margin-left: 4%;
        margin-top: 1%;
        width: 28%;
        height: 90%;
    }

    .imagens-destaque {
        width: 280px;
        height: auto;
        padding-top: 7%;
        padding-left: 25%;
    }

    .div-telefone {
        margin-top: -16%;
    }

}

@media only screen and (max-width: 1200px) {
    #p-processo-2{
        float: right;
        width: 400px;
        text-align: right;
    }
    .botao_banner {
        width: 225px;
        height: auto;
        margin-left: 89%;
    }

    .container-2 {
        margin-left: 10.8%;
        margin-right: 8%;
    }

    .imagens_categorias1 {
        width: 30%;
        height: 28%;
        margin-right: -70px;

    }

    .imagens_categorias2 {
        width: 39%;
        height: 37%;
        margin-left: -20px;
    }

    .imagens_categorias3 {
        width: 38%;
        height: 36%;
        margin-left: -90px;
    }

    .banner-produtos {
        margin-left: -50px;
    }
}

@media only screen and (max-width: 1199px) {

    .imagens-destaque {
        width: 280px;
        height: auto;
        padding-top: 7%;
        padding-left: 25%;
    }

    .baixo-repre-2 {

        margin-top: 650px
    }

    .rodape {
        margin-top: 100px;
    }

    .container-2 {
        margin-left: 7.5%;
        margin-right: 6.5%;
    }

    .imagens_categorias1 {
        width: 31%;
        height: 28%;
        margin-right: -70px;

    }

    .imagens_categorias2 {
        width: 40%;
        height: 37%;
        margin-left: -25px;
    }

    .imagens_categorias3 {
        width: 39%;
        height: 36%;
        margin-left: -98px;
    }

    .banner-produtos {
        margin-left: -90px;
    }

}

@media only screen and (max-width: 1180px) {


    .processo-espaco {
        padding-bottom: 2500px
    }


    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 76%;
        padding-top: 100px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -450px;
        margin-left: 60%;
        padding-top: 100px;
        padding-left: 105px;
    }

    .logo-naville {

    }

    .imagens_categorias1 {
        width: 29%;
        height: 27%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 29%;
        height: 27%;
        margin-left: 95px;

    }

    .imagens_categorias111 {
        width: 29%;
        height: 27%;
        margin-left: 125px;

    }

}

@media only screen and (max-width: 1175px) {
    .imagem-produto3 {
        width: 60px;
    }
}

@media only screen and (max-width: 1175px) {
    .imagem-produto1 {
        width: 140px;
    }
}

@media only screen and (max-width: 1140px) {

    .menu > ul > li {
        font-size: 12px;
    }

    .menu-li {
        padding: 0 5px 0 7px;
    }

    .texto-imagem {
        margin-top: -66%;
        margin-left: 79%;
    }

    .texto-imagem > h1 {
        font-size: 52px;
    }

    .imagem-telefone {
        width: 28px;
        height: 28px;
    }

    .div-telefone {
        margin-top: -16%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 20px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 490px;
        max-height: 800px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 490px;
        max-height: 800px;
    }

    .carousel-inner > .item > img {
        min-height: 490px;
        max-height: 800px;
    }
}

@media only screen and (max-width: 1120px) {

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 76%;
        padding-top: 100px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -450px;
        margin-left: 60%;
        padding-top: 100px;
        padding-left: 105px;
    }

    .texto-processo {
        z-index: 200;
        margin-top: -120px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 10px;
    }

    .barra_lateral {
        height: 90px;
        width: 50px;
        float: right;
        position: fixed;
        z-index: 99999;
        overflow: visible;
        margin-left: 96.5%;
        margin-top: 10%;
    }

    .imagens-destaque {
        width: 280px;
        height: auto;
        padding-top: 7%;
        padding-left: 28%;
    }

    .rodape {
        margin-top: 100px;
    }

    .container-2 {
        margin-left: 6.4%;
        margin-right: 5%;
    }

    .imagens_categorias1 {
        width: 30%;
        height: 26%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 30%;
        height: 26%;
        margin-left: 90px;
    }

    .imagens_categorias111 {
        width: 30%;
        height: 26%;
        margin-left: 120px;
    }

    .imagens_categorias2 {
        width: 41%;
        height: 37%;
        margin-left: -30px;
    }

    .imagens_categorias3 {
        width: 40%;
        height: 36%;
        margin-left: -98px;
    }

    .banner-produtos {
        margin-left: -110px;
    }

}

@media only screen and (max-width: 1100px) {

    .menu > ul > li {
        font-size: 11px;
    }

    .menu-li {
        padding: 0 1px 0 1px;
    }

    .logo {
        width: 22%;
    }

    .texto-imagem {
        margin-top: -52%;
        margin-left: 79%;
    }

    .texto-imagem > h1 {
        font-size: 42px;
    }

    .imagem-telefone {
        width: 24px;
        height: 24px;
    }

    .div-telefone {
        margin-top: -14%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 18px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 400px;
        max-height: 550px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 400px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 400px;
        max-height: 550px;
    }
}

@media only screen and (max-width: 1080px) {

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 76%;
        padding-top: 150px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -350px;
        margin-left: 60%;
        padding-top: 60px;
        padding-left: 105px;
    }

    .texto-processo {
        z-index: 200;
        margin-top: -110px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 9px;
    }

    .rodape {
        margin-top: 100px;
    }

    .container-2 {
        margin-left: 6.4%;
        margin-right: 5.2%;
    }

    .imagens_categorias1 {
        width: 30%;
        height: 26%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 30%;
        height: 26%;
        margin-left: 90px;
    }

    .imagens_categorias111 {
        width: 30%;
        height: 26%;
        margin-left: 120px;
    }

    .banner-produtos {
        margin-left: -110px;
    }

}

@media only screen and (max-width: 1024px) {

    .texto-processo {
        z-index: 200;
        margin-top: -108px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 9px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -65%;
        margin-left: 70%;
        padding-top: 130px;
        padding-left: 90px;

    }

    .botao_banner {
        width: 225px;
        height: auto;
        margin-left: 86.8%;
    }

    .imagens-destaque {
        width: 280px;
        height: auto;
        padding-top: 7%;
        padding-left: 28%;
    }

    .rodape {
        margin-top: 100px;
    }

    .container-2 {
        margin-left: 5.1%;
        margin-right: 5.5%;
    }

    .imagens_categorias1 {
        width: 32%;
        height: 28%;
        margin-right: -70px;

    }

    .imagens_categorias2 {
        width: 41%;
        height: 37%;
        margin-left: -25px;
    }

    .imagens_categorias3 {
        width: 40%;
        height: 36%;
        margin-left: -90px;
    }

    .banner-produtos {
        margin-left: -130px;
    }

    .espaco-cima {
        margin-top: 10%;
    }

    .menu > ul > li {
        font-size: 11.5px;
    }

    .menu-li {
        padding: 0 0 0 0;
    }

    .logo {
        width: 19%;
    }

    .texto-imagem > h1 {
        font-size: 34px;
    }

    .imagem-telefone {
        width: 28px;
        height: 28px;
    }

    .div-telefone {
        margin-top: -14%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 20px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 400px;
        max-height: 550px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 400px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 400px;
        max-height: 550px;
    }
}

/*  apenas media query tablets e mobile */

@media only screen and (max-width: 1020px) {
    #p-processo-2{
        float: right;
        width: 300px;
        text-align: right;
    }

    .botao_banner {
        width: 175px;
        height: auto;
        margin-left: 77%;
        padding-top: 150px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -350px;
        margin-left: 60%;
        padding-top: 80px;
        padding-left: 105px;
    }

    .imagens_categorias1 {
        width: 30%;
        height: 26%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 30%;
        height: 26%;
        margin-left: 90px;
    }

    .imagens_categorias111 {
        width: 30%;
        height: 26%;
        margin-left: 120px;
    }

}

@media (max-width: 991px) {
    #p-processo-2{
        float: right;
        width: 250px;
        text-align: right;
    }

    .botao_banner {
        width: 150px;
        height: auto;
        margin-left: 77%;
        padding-top: 150px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -350px;
        margin-left: 60%;
        padding-top: 110px;
        padding-left: 105px;
    }

    .processo-espaco {
        padding-bottom: 1300px;
    }

    .h1-processo-grande {

        text-align: center;
        margin-top: 20%;
    }

    .p-processo {
        text-align: center;
    }

    .espaco-processo {
        margin-top: 1200px;
    }

    .texto-processo-m1 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 12%;
        font-size: 14px;
    }

    .texto-processo-m2 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 4%;
        font-size: 14px;
    }

    .texto-processo-m3 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -155px;
        padding-bottom: 2%;
        font-size: 14px;
    }

    .texto-processo-m4 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 2%;
        font-size: 14px;
    }

    .texto-processo-m5 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 2%;
        font-size: 14px;
    }

    .linha1 {
        width: 17%;
    }

    .linha2 {
        width: 18%;
    }

    .linha3 {
        width: 17%;
    }

    .linha4 {
        width: 17%;
    }

    .linha5 {
        width: 18%;
    }

    .processo1 {
        width: 80%;
        padding-left: 0;
    }

    .processo2 {
        width: 80%;
        padding-left: 0;
    }

    .processo3 {
        width: 80%;
        padding-left: 0;
    }

    .processo4 {
        width: 80%;
        padding-left: 0;
    }

    .processo5 {
        width: 80%;
        padding-left: 0;
    }

    .balao1 {
        width: 80%;
        padding-right: 0;
    }

    .balao2 {
        width: 80%;
        padding-right: 0;
    }

    .balao3 {
        width: 80%;
        padding-right: 0;
    }

    .balao4 {
        width: 80%;
        padding-right: 0;
    }

    .balao5 {
        width: 80%;
        padding-right: 0;
    }

    .div-processo {
        display: none;
    }

    .imagem-logo {
        margin-top: 6px;
    }

    .botao-menu {

        margin-right: -5px;
    }

    .logo-naville {

    }

    .barra_lateral {
        display: none;
    }

    .container-2 {
        margin-left: 5.1%;
        margin-right: 5.8%;
    }

    .espaco-cima-imagem {
        margin-top: 25px;
    }

    .espaco-baixo-imagem {
        margin-bottom: 25px;
    }

    .div-modal {
        margin-top: 25%;
    }

    .imagem-repre {
        display: none;
    }

    .baixo-repre {
        margin-top: 600px
    }

    .palavras-inst {
        text-align: center;
    }

    .imagens-inst {
        width: 20%;
        margin-left: 40%;
        margin-bottom: 5%;
    }

    .espaco-baixo {
        margin-bottom: 150px;
    }

    .menu-li-institucional {
        border-left: none;
    }

    .div-telefone {
        margin-top: -15%;
    }

    .div-produto {
        margin-left: 3%;
        margin-top: 1%;
        width: 45%;
        height: 90%;
    }

    .imagens-destaque {
        width: 260px;
        height: auto;
        padding-top: 7%;
        padding-left: 15%;
    }

    .logo {
        width: 92.5%;
    }

    .logo:hover {;
    }

    .logo {;
    }

    .logo > a > img {
        padding-top: 0;
    }

    .botao-menu {
        margin-top: -7%;
    }

}

@media only screen and (max-width: 980px) {

    .botao_banner {
        width: 150px;
        height: auto;
        margin-left: 78.5%;
        padding-top: 150px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -350px;
        margin-left: 60%;
        padding-top: 90px;
        padding-left: 105px;
    }

    .texto-processo-m1 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 12%;
    }

    .texto-processo-m2 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 4%;
    }

    .texto-processo-m3 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -155px;
        padding-bottom: 2%;
    }

    .texto-processo-m4 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 1%;
    }

    .texto-processo-m5 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 2%;
    }

    .linha1 {
        width: 17%;
    }

    .linha2 {
        width: 18%;
    }

    .linha3 {
        width: 17%;
    }

    .linha4 {
        width: 18%;
    }

    .linha5 {
        width: 19%;
    }

    .processo1 {
        width: 80%;
        padding-left: 0;
    }

    .processo2 {
        width: 80%;
        padding-left: 0;
    }

    .processo3 {
        width: 80%;
        padding-left: 0;
    }

    .processo4 {
        width: 80%;
        padding-left: 0;
    }

    .processo5 {
        width: 80%;
        padding-left: 0;
        margin-top: 8px;
    }

    .balao1 {
        width: 80%;
        padding-right: 0;
    }

    .balao2 {
        width: 80%;
        padding-right: 0;
    }

    .balao3 {
        width: 80%;
        padding-right: 0;
    }

    .balao4 {
        width: 80%;
        padding-right: 0;
    }

    .balao5 {
        width: 80%;
        padding-right: 0;
    }

    .imagem-logo {
        margin-top: 7px;
    }

    .imagens-destaque {
        width: 280px;
        height: auto;
        padding-top: 7%;
        padding-left: 20%;
    }

    .imagens_categorias1 {
        width: 30%;
        height: 26%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 30%;
        height: 26%;
        margin-left: 85px;
    }

    .imagens_categorias111 {
        width: 30%;
        height: 26%;
        margin-left: 115px;
    }
}

@media only screen and (max-width: 920px) {

    .botao_banner {
        width: 150px;
        height: auto;
        margin-left: 81%;
        padding-top: 150px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -350px;
        margin-left: 40%;
        padding-top: 80px;
        padding-left: 10px;
    }

    .texto-processo-m1 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 12%;
    }

    .texto-processo-m2 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 4%;
    }

    .texto-processo-m3 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -150px;
        padding-bottom: 2%;
    }

    .texto-processo-m4 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 1%;
    }

    .texto-processo-m5 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 2%;
    }

    .linha1 {
        width: 17%;
    }

    .linha2 {
        width: 18%;
    }

    .linha3 {
        width: 17%;
    }

    .linha4 {
        width: 18%;
    }

    .linha5 {
        width: 19%;
    }

    .processo1 {
        width: 80%;
        padding-left: 0;
    }

    .processo2 {
        width: 80%;
        padding-left: 0;
    }

    .processo3 {
        width: 80%;
        padding-left: 0;
    }

    .processo4 {
        width: 80%;
        padding-left: 0;
    }

    .processo5 {
        width: 80%;
        padding-left: 0;
        margin-top: 8px;
    }

    .balao1 {
        width: 80%;
        padding-right: 0;
    }

    .balao2 {
        width: 80%;
        padding-right: 0;
    }

    .balao3 {
        width: 80%;
        padding-right: 0;
        margin-top: -20px;
    }

    .balao4 {
        width: 80%;
        padding-right: 0;
    }

    .balao5 {
        width: 80%;
        padding-right: 0;
        margin-top: -7px;
    }

    .botao-menu {

        margin-right: 8px;
    }

    .imagens-destaque {
        width: 250px;
        height: auto;
        padding-top: 7%;
        padding-left: 12%;
    }

    .imagens_categorias1 {
        width: 29%;
        height: 27%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 29%;
        height: 27%;
        margin-right: -70px;

    }

    .imagens_categorias111 {
        width: 29%;
        height: 27%;
        margin-left: 85px;

    }

    .imagens_categorias2 {
        width: 41%;
        height: 37%;
        margin-left: -25px;
    }

    .imagens_categorias3 {
        width: 40%;
        height: 36%;
        margin-left: -90px;
    }

    .container-2 {
        margin-left: 5.5%;
        margin-right: 8.3%;
    }
}

@media only screen and (max-width: 924px) {

    .logo {
        width: 25%;
    }

    .logo > a > img {
        padding-top: 20px;
    }

    .menu > ul > li {

        font-size: 15px;
    }

    .texto-imagem {
        margin-top: -64%;
        margin-left: 79%;
    }

    .texto-imagem > h1 {
        font-size: 34px;
    }

    .imagem-telefone {
        width: 28px;
        height: 28px;
    }

    .div-telefone {
        margin-top: -16%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 20px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 400px;
        max-height: 550px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 400px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 400px;
        max-height: 550px;
    }
}

@media only screen and (max-width: 887px) {

    .logo {
        width: 25%;
    }

    .menu > ul > li {

        font-size: 15px;
    }

    .texto-imagem {
        margin-top: -64%;
        margin-left: 79%;
    }

    .texto-imagem > h1 {
        font-size: 34px;
    }

    .imagem-telefone {
        width: 23px;
        height: 23px;
    }

    .div-telefone {
        margin-top: -16%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 18px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 375px;
        max-height: 550px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 375px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 375px;
        max-height: 550px;
    }
}

@media only screen and (max-width: 880px) {

    .botao_banner {
        width: 150px;
        height: auto;
        margin-left: 81%;
        padding-top: 200px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 60px;
        padding-left: 210px;
    }

    .texto-processo-m1 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -120px;
        padding-bottom: 12%;
        font-size: 13px;
    }

    .texto-processo-m2 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 4%;
        font-size: 13px;
    }

    .texto-processo-m3 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 2%;
        font-size: 13px;
    }

    .texto-processo-m4 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 2%;
        font-size: 13px;
    }

    .texto-processo-m5 {
        z-index: 5;
        margin-left: 15%;
        margin-right: 17%;
        margin-top: -140px;
        padding-bottom: 2%;
        font-size: 13px;
    }

    .linha1 {
        width: 17%;
    }

    .linha2 {
        width: 18%;
    }

    .linha3 {
        width: 17%;
    }

    .linha4 {
        width: 17%;
    }

    .linha5 {
        width: 18%;
    }

    .processo1 {
        width: 80%;
        padding-left: 0;
    }

    .processo2 {
        width: 80%;
        padding-left: 0;
    }

    .processo3 {
        width: 80%;
        padding-left: 0;
    }

    .processo4 {
        width: 80%;
        padding-left: 0;
    }

    .processo5 {
        width: 80%;
        padding-left: 0;
        margin-top: -10px;
    }

    .balao1 {
        width: 80%;
        padding-right: 0;
    }

    .balao2 {
        width: 80%;
        padding-right: 0;
    }

    .balao3 {
        width: 80%;
        padding-right: 0;
    }

    .balao4 {
        width: 80%;
        padding-right: 0;
    }

    .balao5 {
        width: 80%;
        padding-right: 0;
    }

    .botao-menu {
        margin-top: -65px;
        margin-right: 14px;
    }

    .imagem-logo {
        margin-top: 10px;
    }

    .imagens_categorias1 {
        width: 29%;
        height: 27%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 29%;
        height: 27%;
        margin-right: -70px;

    }

    .imagens_categorias111 {
        width: 29%;
        height: 27%;
        margin-left: 85px;

    }

    .container-2 {
        margin-left: 5.5%;
        margin-right: 9%;
    }
}

@media only screen and (max-width: 835px) {

    .logo {
        width: 25%;
    }

    .menu > ul > li {

        font-size: 15px;
    }

    .texto-imagem {
        margin-top: -64%;
        margin-left: 79%;
    }

    .texto-imagem > h1 {
        font-size: 34px;
    }

    .imagem-telefone {
        width: 23px;
        height: 23px;
    }

    .div-telefone {
        margin-top: -16%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 17px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 365px;
        max-height: 550px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 365px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 365px;
        max-height: 550px;
    }
}

@media only screen and (max-width: 820px) {

    .botao_banner {
        width: 150px;
        height: auto;
        margin-left: 81%;
        padding-top: 200px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 70px;
        padding-left: 25px;
    }
    .processo-espaco {
        padding-bottom: 1200px;
    }


    .texto-imagem {
        margin-top: -64%;
        margin-left: 75%;
    }

    .imagens-destaque {
        width: 230px;
        height: auto;
        padding-top: 7%;
        padding-left: 6%;
    }

    .imagens_categorias1 {
        width: 29%;
        height: 27%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 29%;
        height: 27%;
        margin-right: -70px;

    }

    .imagens_categorias111 {
        width: 29%;
        height: 27%;
        margin-left: 85px;

    }

    .imagens_categorias2 {
        width: 41%;
        height: 37%;
        margin-left: -15px;
    }

    .imagens_categorias3 {
        width: 40%;
        height: 36%;
        margin-left: -85px;
    }

    .container-2 {
        margin-left: 6.2%;
        margin-right: 9%;
    }
}

@media only screen and (max-width: 800px) {

    .logo {
        width: 25%;
    }

    .menu > ul > li {

        font-size: 15px;
    }

    .texto-imagem {
        margin-top: -64%;
        margin-left: 79%;
    }

    .texto-imagem > h1 {
        font-size: 34px;
    }

    .imagem-telefone {
        width: 23px;
        height: 23px;
    }

    .div-telefone {
        margin-top: -17%;
        margin-left: 87%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 17px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 350px;
        max-height: 550px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 350px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 350px;
        max-height: 550px;
    }
}

@media only screen and (max-width: 780px) {

    .botao_banner {
        width: 150px;
        height: auto;
        margin-left: 81%;
        padding-top: 200px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 60px;
        padding-left: 185px;
    }

    .imagens_categorias1 {
        width: 28%;
        height: 26%;
        margin-right: -70px;

    }

    .imagens_categorias11 {
        width: 28%;
        height: 26%;
        margin-right: -70px;

    }

    .imagens_categorias111 {
        width: 28%;
        height: 26%;
        margin-left: 85px;

    }

    .container-2 {
        margin-left: 6.4%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 768px) {
    #p-processo-2{
        float: right;
        width: 100%;
        text-align: center;
    }
	

    .espaco-processo {
        margin-top: 1100px;
    }



    .imagem-logo {
        margin-top: 1px;
    }

    .botao-menu {
        margin-top: -75px;
        margin-right: 14px;
    }

    .botao_banner {
        width: 150px;
        height: auto;
        margin-left: 81%;
        padding-top: 200px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 80px;
        padding-left: 185px;
    }

    .container-2 {
        margin-left: 6.6%;
        margin-right: 10.5%;
    }

    .logo {
        width: 40%;
    }

    .logo:hover {

    }

    .logo {

    }

    .logo > a > img {
        padding-top: 15px;
    }

    .botao-menu {
        margin-top: -10%;
    }

    .menu > ul > li {
        font-family: 'Russo One', sans-serif;
        font-weight: 700;
        padding-top: 22px;
        font-size: 21px;
    }

    .texto-imagem > h1 {
        font-size: 30px;
    }

    .imagem-telefone {
        width: 24px;
        height: 24px;
    }

    .div-telefone {
        margin-top: -12.5%;
        margin-left: 75%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 18px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 350px;
        max-height: 500px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 350px;
        max-height: 500px;
    }

    .carousel-inner > .item > img {
        min-height: 350px;
        max-height: 500px;
    }

}

@media only screen and (max-width: 767px) {
	
    #pequena1{
        margin-left: 50px;
        width: 90%;
    }
    #pequena2{
        margin-left: 60px;
        width: 90%;
    }
    #pequena3{
        margin-left: 10px;
        width: 170%;
    }

    .estilo-imagem-media {
        width: 100%;
		margin-left: 10%;
    }

    .estilo-imagem-pequena2{
		width: 185%;
        margin-left: -10%;
        margin-top: 1%;
	}
    .estilo-imagem-pequena {
        width: 100%;
    }

    .imagem-modal1 {
        width: 400px;
    }

    .estilo-modal1 {
        margin-top: 1%;
        margin-left: 1px;
    }

    .imagens-destaque {
        width: 100px;
        height: auto;
        padding-top: 7%;
        padding-left: 25%;
    }

    .baixo-repre-2 {

        margin-top: 1200px
    }

    .processo-espaco {
        padding-bottom: 100px
    }

    .h1-processo-grande {
        margin-top: 2%;
    }

    .parte-final {
        width: 100%;
        margin-top: -86px;
        padding-right: 30px;
    }

    .logo-naville {

    }

    .cate1 {
        width: 60%;
        margin-left: 15%;
    }

    .cate2 {
        margin-top: 2%;
        width: 60%;
        margin-left: 15%;

    }

    .cate3 {
        margin-top: 2%;
        width: 60%;
        margin-left: 15%;

    }

    .rodape {
        margin-top: 100px;
    }

    .texto-imagem {
        margin-top: -80%;
        margin-left: 67%;
    }

    .div-telefone {
        margin-top: -2%;
    }

    .div-produto {
        margin-left: 7.5%;
        margin-top: 1%;
        width: 85%;
        height: 90%;
    }

    .visualizar-produto {
        height: 50px;
        width: 35%;
        margin-top: 7px;
        margin-left: 32%;
    }

    .imagens-destaque {
        width: 350px;
        height: auto;
        padding-left: 35%;
    }

    .detalhes-rodape {
        padding-bottom: 15%;
    }
}

@media only screen and (max-width: 760px) {
	.estilo-imagem-media {
		margin-left: 10%;
    }

    .logo {
        width: 89%;
    }

    .logo:hover {
        background-color: transparent;
    }

    .logo {
        background-color: transparent;
    }

    .logo > a > img {
        padding-top: 0;
    }

    .botao-menu {
        margin-top: -10%;
    }

    .texto-imagem {
        margin-top: -60%;
        margin-left: 67%;
    }

    .texto-imagem > h1 {
        font-size: 29px;
    }

    .imagem-telefone {
        width: 22px;
        height: 22px;
    }

    .div-telefone {
        margin-top: -2%;
        margin-left: 75%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 16px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 350px;
        max-height: 450px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 350px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 350px;
        max-height: 450px;
    }

}

@media only screen and (max-width: 736px) {

    .logo {
        width: 89%;
    }

    .logo:hover {
        background-color: transparent;
    }

    .logo {
        background-color: transparent;
    }

    .logo > a > img {
        padding-top: 0;
    }

    .botao-menu {
        margin-top: -10%;
    }

    .texto-imagem {
        margin-top: -52%;
        margin-left: 67%;
    }

    .texto-imagem > h1 {
        font-size: 29px;
    }

    .imagem-telefone {
        width: 22px;
        height: 22px;
    }

    .div-telefone {
        margin-top: -3%;
        margin-left: 75%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 16px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 300px;
        max-height: 450px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 300px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 300px;
        max-height: 450px;
    }

}

@media only screen and (max-width: 720px) {


    .estilo-imagem-pequena2{
        width: 165%;
        margin-left: -10%;
        margin-top: -3%;
    }

    .espaco-processo {
        margin-top: 1px;
    }

    .botao_banner {
        width: 150px;
        height: auto;
        margin-left: 79%;
        padding-top: 200px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 80px;
        padding-left: 185px;
    }

    .botao-menu {
        margin-top: -11%;
    }

    .imagens-destaque {
        width: 350px;
        height: auto;
        padding-left: 30%;
    }
}

@media only screen and (max-width: 680px) {
    #pequena1{
        margin-left: 50px;
        width: 90%;
    }
    #pequena2{
        margin-left: 60px;
        width: 90%;
    }
    #pequena3{
        margin-left: 10px;
        width: 140%;
    }
}
	.estilo-imagem-pequena2{
		width: 160%;
		margin-top: -1%;
	}
    .botao_banner {
        width: 150px;
        height: auto;
        margin-left: 79%;
        padding-top: 200px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 80px;
        padding-left: 180px;
    }

    .imagens-destaque {
        width: 330px;
        height: auto;
        padding-left: 28%;
    }


@media only screen and (max-width: 667px) {
    #pequena1{
        margin-left: 50px;
        width: 90%;
    }
    #pequena2{
        margin-left: 60px;
        width: 90%;
    }
    #pequena3{
        margin-left: 10px;
        width: 150%;
    }
.estilo-imagem-pequena2{
		width: 140%;
		margin-top: -1%;
	}
    .logo {
        width: 89%;
    }

    .logo:hover {
        background-color: transparent;
    }

    .logo {
        background-color: transparent;
    }

    .logo > a > img {
        padding-top: 0;
    }

    .botao-menu {
        margin-top: -11%;
        margin-right: 1.5%;
    }

    .texto-imagem {
        margin-top: -61%;
        margin-left: 67%;
    }

    .texto-imagem > h1 {
        font-size: 26px;
    }

    .imagem-telefone {
        width: 22px;
        height: 22px;
    }

    .div-telefone {
        margin-top: -3%;
        margin-left: 75%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 15px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 290px;
        max-height: 450px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 290px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 290px;
        max-height: 450px;
    }

}

@media only screen and (max-width: 620px) {

.estilo-imagem-pequena2{
		width: 130%;
		margin-top: -1%;
		margin-left: 5%;
	}

    .botao_banner {
        width: 100px;
        height: auto;
        margin-left: 79%;
        padding-top: 200px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 100px;
        padding-left: 160px;
    }

    .imagens-destaque {
        width: 290px;
        height: auto;
        padding-left: 28%;
    }

    .botao-menu {
        margin-top: -12%;
    }

}

@media only screen and (max-width: 600px) {
    .estilo-imagem-pequena2{
        width: 120%;
    }
    .logo {
        width: 89%;
    }

    .logo:hover {
        background-color: transparent;
    }

    .logo {
        background-color: transparent;
    }

    .logo > a > img {
        padding-top: 0;
    }

    .botao-menu {
        margin-top: -11.5%;
    }

    .texto-imagem {
        margin-top: -58.5%;
        margin-left: 67%;
    }

    .texto-imagem > h1 {
        font-size: 26px;
    }

    .imagem-telefone {
        width: 22px;
        height: 22px;
    }

    .div-telefone {
        margin-top: -3%;
        margin-left: 75%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 15px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 280px;
        max-height: 450px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 280px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 280px;
        max-height: 450px;
    }

}

@media only screen and (max-width: 588px) {
    #pequena1{
        margin-left: 50px;
        width: 90%;
    }
    #pequena2{
        margin-left: 45px;
        width: 90%;
    }
    #pequena3{
        margin-left: 10px;
        width: 130%;
    }

    .visualizar-produto {
        height: 50px;
        width: 50%;
        margin-top: 7px;
        margin-left: 25%;
    }

    .logo {
        width: 87%;
    }

    .logo:hover {
        background-color: transparent;
    }

    .logo {
        background-color: transparent;
    }

    .logo > a > img {
        padding-top: 0;
    }

    .botao-menu {
        margin-top: -11.8%;
        margin-right: 2.5%;
    }

    .texto-imagem {
        margin-top: -57%;
        margin-left: 67%;
    }

    .texto-imagem > h1 {
        font-size: 25px;
    }

    .imagem-telefone {
        width: 22px;
        height: 22px;
    }

    .div-telefone {
        margin-top: -3%;
        margin-left: 75%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 15px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 260px;
        max-height: 450px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 260px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 260px;
        max-height: 450px;
    }

}

@media only screen and (max-width: 580px) {
    #pequena1{
        margin-left: 50px;
        width: 90%;
    }
    #pequena2{
        margin-left: 25px;
        width: 120%;
    }
    #pequena3{
        margin-left: 10px;
        width: 130%;
    }

.estilo-imagem-pequena2{
		width: 120%;
		margin-top: 4%;
	}
    .estilo-imagem-media {
        width: 120%;
        margin-left: 12%;
		
    }

    .estilo-imagem-pequena {
        width: 100%;
        margin-top: 5%;
		margin-left: 30%;
    }

    .botao_banner {
        width: 100px;
        height: auto;
        margin-left: 79%;
        padding-top: 200px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 110px;
        padding-left: 154px;
    }

    .imagem-logo {
        margin-top: 6px;
    }

    .carousel-inner {
        padding-top: 5%;
    }

    .botao-menu {
        margin-top: -13%;
    }

    .imagens-destaque {
        width: 290px;
        height: auto;
        padding-left: 24%;
    }
}

@media only screen and (max-width: 568px) {
    .estilo-imagem-pequena2{
        width: 110%;
    }
    .logo {
        width: 87%;
    }

    .logo:hover {
        background-color: transparent;
    }

    .logo {
        background-color: transparent;
    }

    .logo > a > img {
        padding-top: 0;
    }

    .botao-menu {
        margin-top: -12%;
    }

    .texto-imagem {
        margin-top: -58%;
        margin-left: 67%;
    }

    .texto-imagem > h1 {
        font-size: 26px;
    }

    .imagem-telefone {
        width: 22px;
        height: 22px;
    }

    .div-telefone {
        margin-top: -3%;
        margin-left: 72%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 12px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 260px;
        max-height: 450px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 260px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 260px;
        max-height: 450px;
    }

}

@media only screen and (max-width: 550px) {
    #pequena1{
        margin-left: 50px;
        width: 90%;
    }
    #pequena2{
        margin-left: 20px;
        width: 120%;
    }
    #pequena3{
        margin-left: 10px;
        width: 110%;
    }

}
@media only screen and (max-width: 520px) {



    .estilo-imagem-media {
        margin-left: 5%;
    }

    .estilo-imagem-pequena2{
        width: 100%;
        margin-left: -10%;
        margin-top: 1%;
    }

    .botao_banner {
        width: 75px;
        height: auto;
        margin-left: 79%;
        padding-top: 200px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 110px;
        padding-left: 136px;
    }

    .botao-menu {
        margin-top: -15%;
    }

    .imagens-destaque {
        width: 270px;
        height: auto;
        padding-left: 18%;
    }
}

@media only screen and (max-width: 480px) {
.estilo-imagem-pequena2{
		width: 95%;
		margin-top: 1%;
	}
    .estilo-imagem-media {
        margin-left: 3%;
        z-index: 101;
    }



    .baixo-repre-2 {

        margin-top: 1200px
    }

    .botao_banner {
        width: 75px;
        height: auto;
        margin-left: 79%;
        padding-top: 200px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 110px;
        padding-left: 125px;
    }

    .botao-menu {
        margin-top: -16%;
    }

    .imagens-destaque {
        width: 250px;
        height: auto;
        padding-left: 14%;
    }

    .baixo-repre {
        margin-top: 700px
    }
}

@media only screen and (max-width: 461px) {
    #pequena1{
        margin-left: 50px;
        width: 90%;
    }
    #pequena2{
        margin-left: 20px;
        width: 110%;
    }
    #pequena3{
        margin-left: 10px;
        width: 100%;
    }


    .logo {
        width: 87%;
    }

    .logo:hover {
        background-color: transparent;
    }

    .logo {
        background-color: transparent;
    }

    .logo > a > img {
        padding-top: 0;
    }

    .botao-menu {
        margin-top: -15%;
        margin-right: 1.5%;
    }

    .texto-imagem {
        margin-top: -60%;
        margin-left: 67%;
    }

    .texto-imagem > h1 {
        font-size: 21px;
    }

    .imagem-telefone {
        width: 22px;
        height: 22px;
    }

    .div-telefone {
        margin-top: -3%;
        margin-left: 72%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 12px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 220px;
        max-height: 450px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 220px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 220px;
        max-height: 450px;
    }

}

@media only screen and (max-width: 420px) {

    #pequena1{
        margin-left: 60px;
        width: 90%;
    }
    #pequena2{
        margin-left: 20px;
        width: 120%;
    }
    #pequena3{
        margin-left: -10px;
        width: 100%;
        margin-top: -2%;
    }


    .estilo-imagem-pequena2{
        width: 120%;
        margin-left: -5%;
        margin-top: 1%;
    }
    .estilo-imagem-media {
        width: 150%;
		margin-left: 2%;
    }

    .estilo-imagem-pequena {
        width: 130%;
        margin-top: 1%;
    }


    .botao_banner {
        width: 75px;
        height: auto;
        margin-left: 79%;
        padding-top: 300px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 170px;
        padding-left: 110px;
    }

    .botao-menu {
        margin-top: -18%;
    }

    .logo-naville {

    }

    .imagens-destaque {
        width: 230px;
        height: auto;
        padding-left: 6%;
    }

    .baixo-repre {
        margin-top: 800px
    }

    .logo {
        width: 82%;
    }

    .logo:hover {
        background-color: transparent;
    }

    .logo {
        background-color: transparent;
    }

    .logo > a > img {
        padding-top: 20px;
    }

    .texto-imagem > h1 {
        font-size: 20px;
    }

    .imagem-telefone {
        width: 20px;
        height: 20px;
        margin-left: -10px;
    }

    .div-telefone {
        margin-top: -3%;
        margin-left: 72%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 12px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 200px;
        max-height: 450px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 200px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 200px;
        max-height: 450px;
    }

}

@media only screen and (max-width: 390px) {
    #pequena1{
        margin-left: 50px;
        width: 115%;
    }
    #pequena2{
        margin-left: 20px;
        width: 120%;
    }
    #pequena3{
        margin-left: -10px;
        width: 115%;
    }

    .estilo-imagem-pequena{
    width: 150%;
}
.estilo-imagem-pequena2{
		width: 140%;
		margin-top: -1%;
		margin-left: -5%;
	}
    .logo {
        width: 82%;
    }

    .logo:hover {
        background-color: transparent;
    }

    .logo {
        background-color: transparent;
    }

    .logo > a > img {
        padding-top: 20px;
    }

    .botao-menu {
        margin-top: -18%;
    }

    .texto-imagem {
        margin-top: -62%;
        margin-left: 67%;
    }

    .texto-imagem > h1 {
        font-size: 20px;
    }

    .imagem-telefone {
        width: 20px;
        height: 20px;
        margin-left: -20px;
    }

    .div-telefone {
        margin-top: -3%;
        margin-left: 72%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 12px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 190px;
        max-height: 450px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 190px;
        max-height: 550px;
    }

    .carousel-inner > .item > img {
        min-height: 190px;
        max-height: 450px;
    }

}

@media only screen and (max-width: 380px) {


    .estilo-imagem-media {
        width: 160%;
    }
    .estilo-imagem-pequena2{
        width: 150%;
        margin-left: -15%;
        margin-top: 2%;
    }

    .estilo-imagem-pequena {
        width: 150%;
        margin-top: 1%;
    }


    .botao_banner {
        width: 75px;
        height: auto;
        margin-left: 79%;
        padding-top: 300px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 170px;
        padding-left: 97px;
    }

    .botao-menu {
        margin-top: -19%;
    }
}

@media only screen and (max-width: 375px) {

    .logo {
        width: 80%;
    }

    .logo:hover {
        background-color: transparent;
    }

    .logo {
        background-color: transparent;
    }

    .logo > a > img {
        padding-top: 20px;
    }

    .botao-menu {
        margin-top: -19%;
    }

    .corpo-banner {
        width: 100%;
        margin-top: 50px
    }

    .texto-imagem {
        margin-top: -55%;
        margin-left: 67%;
    }

    .texto-imagem > h1 {
        font-size: 18px;
    }

    .imagem-telefone {
        width: 22px;
        height: 22px;
    }

    .div-telefone {
        margin-top: -3%;
        margin-left: 75%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 11px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 170px;
        max-height: 350px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 170px;
        max-height: 350px;
    }

    .carousel-inner > .item > img {
        min-height: 170px;
        max-height: 350px;

    }

}



@media only screen and (max-width: 350px) {
	.estilo-imagem-pequena2{
		width: 150%;
		margin-top: -1%;
	}
}

@media only screen and (max-width: 320px) {

    .estilo-imagem-media {
        width: 280%;
    }

    .estilo-imagem-pequena {
        width: 250%;
        margin-top: 1%;
    }

    .botao_banner {
        width: 50px;
        height: auto;
        margin-left: 70%;
        padding-top: 320px;
    }

    .texto-imagem {
        position: absolute;
        text-align: right;
        width: 50%;
        height: 50%;
        margin-top: -300px;
        margin-left: 40%;
        padding-top: 210px;
        padding-left: 65px;
    }

    .carousel-inner {
        padding-top: 10%;
    }

    .botao-menu {
        margin-top: -24%;
        margin-right: -18%;
    }

    .logo {
        width: 77%;
    }

    .logo:hover {
        background-color: transparent;
    }

    .logo {
        background-color: transparent;
    }

    .logo > a > img {
        padding-top: 20px;
    }

    .texto-imagem > h1 {
        font-size: 15px;
    }

    .imagem-telefone {
        width: 20px;
        height: 20px;
        margin-left: -30px;
    }

    .div-telefone {
        margin-top: -2%;
        margin-left: 72%;
        width: 42%;
    }

    .telefone {
        font-family: "Russo One", sans-serif;
        font-size: 11px;
        color: whitesmoke;
    }

    .carousel {
        min-height: 145px;
        max-height: 320px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 145px;
        max-height: 320px;
    }

    .carousel-inner > .item > img {
        min-height: 145px;
        max-height: 320px;
    }

}











@media screen and (max-width: 768px) {
    .logo-naville {
        margin-left: 40%;
    }
    #logo_nav{
     margin-right:10%;
    }
}

@media screen and (min-width: 768px) {
    #espaco_roda {
        display: none;
    }
    #logo_nav{
        margin-right:10%;
    }
}